# OpenAI API Key
OPENAI_API_KEY=Your-open-api-key-here

# Fitbit Developer Credentials
FITBIT_CLIENT_ID=Application-fitbit-client-id-here
FITBIT_CLIENT_SECRET=Application-fitbit-key-here

#Logger Credentials
EVENT_LOGGER_TOKEN=JWT-Token-From-event-logger
EVENT_LOGGER_URL=URL-for-event-logger

# Application Settings
REDIRECT_URL=http://127.0.0.1:8000/fitbit/callback
APP_SECRET_KEY=generate-a-strong-random-secret-here